# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Dataset (VERY IMPORTANT)
sd-198/
dataset/
data/

# Trained model weights
*.pth

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
